<div class="container">

    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
    <app-update-bibliotheque [bibliotheque]="updatedBib"
                            (bibliothequeUpdated)= "bibliothequeUpdated($event)"
                            *ngIf="authService.isAdmin()"  [ajout]="ajout">
    </app-update-bibliotheque>
    </div>
<div class="card shadow mb-4">
<div class="card-body">
<table class="table table-striped">
<thead>
<tr> <th>Id</th>
    <th>Nom Bibliotheque</th>
    <th  *ngIf="authService.isAdmin()">Actions</th>
 </tr>
</thead>
<tbody *ngFor="let bib of bibliotheques">
<tr>
<td>{{bib.idBib}}</td>
<td>{{bib.nomBib}}</td>



<td><a *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="supprimerBib(bib)"><img src="/assets/images/img/delete.png" height="32" width="32"></a></td>
<td><a *ngIf="authService.isAdmin()" class="btn btn-warning" (click)="updateBib(bib)"><img src="/assets/images/img/edit.png" height="32" width="32"></a></td>
 
</tr>
</tbody>
</table>

</div>
</div>
